.pet_details_container
{
    text-align: center;
}

.pet_details_container p{
    margin-bottom: 1em;
}

.pet_details_header
{
    margin-bottom: 2em;
}

.pet_images
{
    display: flex;
    justify-content: center;
    max-width: 10000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.pet_images img
{
    max-height: 200px;
    margin: 1em;
}

.pet_details_container button
{
    text-decoration: none;
    background-color: #25b456;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 1.1em;
    margin-left: 1em;
    max-width: 200px;
    border: none;
    min-height: 2.5em;
}

.pet_details_container button:hover
{
    background-color: #168a42;
}